@import "../index.css";

.mainContainer {
  background-color: white;
  border-radius: 20px;
  min-height: 500px;
  height: 100%;
  width: 100%;
  margin: 20px;
  margin-bottom: 0 !important;
  padding: 40px;
}

.sorteerBar {
  border-bottom: 1px solid var(--CardBorder);
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.titel {
  font-size: 48px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 20px;
  justify-content: center;
}
